# Артефакты сборки Rust
target/

# Кросс-компиляция под Android (LLVM-сборка, NDK, SDL-либы и т.п.)
android-сборка/

# Скомпилированные бинарники/объектники
*.o
*.a
*.so
*.apk
*.ll

# Прочий мусор
.DS_Store
